/* .cat-hov{
    color: var(--color-6);
    transition: 0.3s;
}

.cat-hov:hover .cat-btn, .cat-hov:hover .cat{
    color: var(--color-3);
} */

.event-banner{
    height: 100%;
    width: 100%;
}

.event-banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    background-image: cover;
}

.join-meet{
    /* height: 100%;
    width: 60%; */
    text-align: center;
    border: none;
    background-color: var(--color-3);
}

.share{
    /* height: 100%;
    width: 15%; */
    border: none;
    text-align: center;
    background-color: var(--color-3);
}